<% layout("layouts/app") %>
<h2 class="text-center mb-3 pb-3">Update Place</h2>
<div class="col-6 offset-3">
    <form action="/places/<%= place._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div>
            <label for="title" class="form-label">Title: </label>
            <input type="text" name="place[title]" id="title" class="form-control" required value="<%= place.title %>">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid title.
            </div>
        </div><br>
        <div>
            <label for="price" class="form-label">Price: </label>
            <input type="text" name="place[price]" id="price" class="form-control" required value="<%= place.price %>">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid price.
            </div>
        </div><br>
        <div>
            <label for="description" class="form-label">Description: </label>
            <textarea name="place[description]" id="description" cols="30" rows="10" required class="form-control"><%= place.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid description.
            </div>
        </div><br>
        <div>
            <label for="location" class="form-label">Location: </label>
            <input type="text" name="place[location]" id="location" class="form-control" required value="<%= place.location %>">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid location.
            </div>
        </div><br>
        <div>
            <label for="image" class="form-label">Image URL: </label>
            <input type="text" name="place[image]" id="image" class="form-control" required value="<%= place.image %>">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid image URL.
            </div>
        </div><br>
        <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>