<% layout("layouts/app") %>
<h1 class="mb-3 pb-2">All Places</h1>
<% for (const place of places) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <% if (place.images.length) { %>
                    <img src="/images/<%= place.images[0].filename %>" alt="<%= place.title %>" class="img-fluid">
                <% } else { %>
                    <img src="https://images.unsplash.com/photo-1431274172761-fca41d930114?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZWlmZmVsJTIwdG93ZXJ8ZW58MHwwfDB8fHww" alt="<%= place.title %>" class="img-fluid">
                <% } %>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="card-body">
                    <h5 class="card-title"><%= place.title %></h5>
                    <p class="card-text"><%= place.description %></p>
                    <p class="card-text">
                        <small class="text-secondary"><%= place.location %></small>
                    </p>
                    <a href="/places/<%= place._id %>" class="btn btn-primary">View <%= place.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>