<% layout("layouts/app") %>
<div class="row">
    <div class="col-7">
        <div class="card">
            <img src="<%= place.image %>" alt="<%= place.title %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= place.title %></h5>
                <p class="card-text"><%= place.description %></p>
                <ul class="list-group list-group-flash">
                    <li class="list-group-item"><b>Price:</b> <%= place.price %></li>
                    <li class="list-group-item"><b>Location:</b> <%= place.location %></li>
                </ul>
            </div>
            <div class="card-body d-flex justify-content-end">
                <a href="/places/<%= place._id %>/edit" class="btn btn-warning text-white" style="margin-right: 0.5rem;">Edit</a>
                <form action="/places/<%= place._id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h4 class="mb-3">Leave a review</h4>
        <form action="/places/<%= place._id %>/reviews" method="POST" class="needs-validation mb-5" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid review.
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <% for(const review of place.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <p class="card-text"><%= review.body %></p>
                </div>
            </div>
        <% } %>
    </div>
</div>