<% layout("layouts/app") %>
<link rel="stylesheet" href="/css/stars.css">

<div class="row">
    <div class="col-7">
        <div class="card">
            <img src="<%= place.image %>" alt="<%= place.title %>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= place.title %></h5>
                <p class="card-text"><%= place.description %></p>
                <ul class="list-group list-group-flash">
                    <li class="list-group-item"><b>Price:</b> <%= place.price %></li>
                    <li class="list-group-item"><b>Location:</b> <%= place.location %></li>
                    <li class="list-group-item"><b>Author:</b> <%= place.author.username %></li>
                </ul>
            </div>
            <% if (currentUser && place.author.equals(currentUser._id)) { %>
            <div class="card-body d-flex justify-content-end">
                <a href="/places/<%= place._id %>/edit" class="btn btn-warning text-white" style="margin-right: 0.5rem;">Edit</a>
                <form action="/places/<%= place._id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
    <div class="col-5">
        <% if (currentUser) { %>
        <h4 class="mb-3">Leave a review</h4>
        <form action="/places/<%= place._id %>/reviews" method="POST" class="needs-validation mb-5" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid review.
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <% } %>
        <% for (const review of place.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-subtitle mb-2 text-secondary"><%= review.author.username %></h6>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text"><%= review.body %></p>
                    <% if (currentUser && review.author.equals(currentUser._id)) { %>
                    <div class="d-flex justify-content-end">
                        <form action="/places/<%= place._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>